[{boss, [
    {path, "/Users/nicklas/Sites/chicagoboss"},
    {vm_cookie, "riak"},
    {applications, [filedepot]},
    {db_host, "localhost"},
    {db_port, 8087},
    {db_adapter, riak},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ filedepot, [
    {path, "../filedepot"},
    {base_url, "/"}
]}
].
